# Ignore virtual environments
venv/

# Ignore macOS system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore compiled code
*.so

# Ignore logs
*.log

# Ignore environment variables
.env
